svg {
  font: 14px sans-serif;
  font-weight: bold;
  background: lightgrey;
  box-shadow: 3px 3px 6px -3px black;
}

.chord-diagram {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.chord-diagram-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: 0.8;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

.to-library {
  background: linear-gradient(gray, gray) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1.15em;
  text-shadow: .05em 0 white, -0.5em 0 white;
}

.project-name {
  color: white !important;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}