svg {
  font: 13px sans-serif;
  font-weight: bold;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .7;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}
